@import "../../styles/responsive.scss";

.topBox {
  h1 {
    margin-bottom: 25px;

    @include xxl{
      font-size: 24px;
    }
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .user {
        display: flex;
        gap: 30px;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-top: 18px;
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .username {
            font-size: 18px;
            font-weight: 500;
          }

          .email {
            font-size: 14px;

            @include xxl {
              display: none;
            }
            @include lg {
              display: block;
            }
          }
        }
      }


      .amount {
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.viewAll {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  a {
    color: white; // Match the blue
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}